PORT=3001
NODE_ENV=development

# Configurações do Banco de Dados / Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
POSTGRES_DB=desafio_elite_dev
POSTGRES_PORT=5432

# Connection string usada pelo Prisma
DATABASE_URL="postgresql://postgres:password123@localhost:5432/desafio_elite_dev?schema=public"

# Segurança e JWT
JWT_SECRET="super-secret-desafio-elite-dev-jwt-key"
QR_SECRET="super-secret-hmac-qr-signing-key"
