node_modules
# Keep environment variables out of version control
.env

# Build outputs
dist/
**/*.js
**/*.d.ts
**/*.js.map
**/*.d.ts.map

# Exceções explícitas
!package.json
!tsconfig.json

# Generated client
/src/generated/prisma
